html{
    height: 100%;
    width: 100%;
}

#root{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.job{
    height: 90%;
    width: 90%;
  
    
}



.details{
 
    width: 38%;
    float: left;
    margin: 1%;
}

.section{
    height: 15%;
    width: 100%;
    background-color: lightblue;
}

.metaInfo{
    height: 50%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 10px;
}

.highlightHeader{
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: lightslategray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 10px;
   
}

.equipments{
    background-color: bisque;
    height: 75%;
    width: 100%;
    margin-top: 2%;

}
.editor{
    height: 100%;
    width: 58%;
    float: right;
    margin: 1%;
}
.metadata{
    height:10%;
    width: 100%;
}

.title{
    height: 40%;
    width: 100%;
    border-radius: 5px;
    font-size: large;

}

.pagesModified{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


.modifiedItem{
    height: 35%;
    width: 10%;
    background-color: lightblue;
    border-radius: 5px;
    font-size: small;

    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;

}
.document{
    height: 100%;
    width: 100%;
    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    
}

#pages{
    height: 100%;
    width: 98%;
    margin: auto;
    max-height: 100%;
    overflow: auto;
}

.page{
    position: relative;
    height: 100%;
    width: 100%;
}

.pageNumber{
    background-color: lightcoral;
    color: white;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    float: right;
    width: 20%;
    display: flex;
    justify-content: center;
    

}
.content{
    
    width: 100%;
    resize: none;
    border: none;
    background-color: white;
    outline: none;
    
  
}

.removeHighlighter{
    background-color: white;
}

.addHighlighter{
    background-color: yellow;
}

.displayNone{
    display: none;
}
u{
    background-color: yellow;
}
.save{
    color: white ;
    background-color: #007AFF;
    border: none;
    border-radius: 5px;
    height: 100%;
    width: 15%;
    float: right;
    font-weight: bold;
    cursor: pointer;
   
}


.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
    content: '14px';
    font-size: 14px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="15px"]::before {
    content: '15px';
    font-size: 15px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
    content: '16px';
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="17px"]::before {
    content: '17px';
    font-size: 17px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
    content: '18px';
    font-size: 18px !important;
}

.highlight{
    background-color: yellow;
}

  
